<a href="https://colab.research.google.com/github/utkarshg1/Test1/blob/main/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from warnings import filterwarnings
filterwarnings("ignore")

In [2]:
import pandas as pd
df = pd.read_csv("http://bit.ly/SampleDataset")
df.head()

,NAME,CITY,COUNTRY,HEIGHT,WEIGHT,ACCOUNT A,ACCOUNT B,TOTAL ACCOUNT
0,Adi Dako,LISBON,PORTUGAL,56,132.0,2390.0,4340,6730
1,John Paul,LONDON,UNITED KINGDOM,62,165.0,4500.0,34334,38834
2,Cindy Jules,Stockholm,Sweden,48,117.0,NaN,5504,8949
3,Arthur Kegels,BRUSSELS,BELGIUM,59,121.0,4344.0,8999,300
4,Freya Bismark,Berlin,GERMANYY,53,126.0,7000.0,19000,26000

In [3]:
df.columns

Index(['NAME', 'CITY', 'COUNTRY', 'HEIGHT', 'WEIGHT', 'ACCOUNT A', 'ACCOUNT B',
       'TOTAL ACCOUNT'],
      dtype='object')

In [6]:
df.columns = df.columns.str.lower()

In [7]:
df.columns

Index(['name', 'city', 'country', 'height', 'weight', 'account a', 'account b',
       'total account'],
      dtype='object')

In [9]:
df.columns = [col.replace(" ", "_") for col in df.columns]

In [10]:
df.columns

Index(['name', 'city', 'country', 'height', 'weight', 'account_a', 'account_b',
       'total_account'],
      dtype='object')

In [13]:
df.columns = (df.columns
  .str.strip()
  .str.lower()
  .str.replace(" ", "_")
  .str.replace("(", "")
  .str.replace(")","")
)

In [11]:
df.head()

,name,city,country,height,weight,account_a,account_b,total_account
0,Adi Dako,LISBON,PORTUGAL,56,132.0,2390.0,4340,6730
1,John Paul,LONDON,UNITED KINGDOM,62,165.0,4500.0,34334,38834
2,Cindy Jules,Stockholm,Sweden,48,117.0,NaN,5504,8949
3,Arthur Kegels,BRUSSELS,BELGIUM,59,121.0,4344.0,8999,300
4,Freya Bismark,Berlin,GERMANYY,53,126.0,7000.0,19000,26000

In [15]:
df["city"] = df["city"].str.lower()

In [16]:
df.head()

,name,city,country,height,weight,account_a,account_b,total_account
0,Adi Dako,lisbon,PORTUGAL,56,132.0,2390.0,4340,6730
1,John Paul,london,UNITED KINGDOM,62,165.0,4500.0,34334,38834
2,Cindy Jules,stockholm,Sweden,48,117.0,NaN,5504,8949
3,Arthur Kegels,brussels,BELGIUM,59,121.0,4344.0,8999,300
4,Freya Bismark,berlin,GERMANYY,53,126.0,7000.0,19000,26000

In [17]:
df["height"] = df["height"]*2.54

In [18]:
df.dtypes

name              object
city              object
country           object
height           float64
weight           float64
account_a        float64
account_b          int64
total_account      int64
dtype: object

In [20]:
df["height"] = df["height"].astype(int)

In [21]:
df.head()

,name,city,country,height,weight,account_a,account_b,total_account
0,Adi Dako,lisbon,PORTUGAL,142,132.0,2390.0,4340,6730
1,John Paul,london,UNITED KINGDOM,157,165.0,4500.0,34334,38834
2,Cindy Jules,stockholm,Sweden,121,117.0,NaN,5504,8949
3,Arthur Kegels,brussels,BELGIUM,149,121.0,4344.0,8999,300
4,Freya Bismark,berlin,GERMANYY,134,126.0,7000.0,19000,26000

In [22]:
df.dtypes

name              object
city              object
country           object
height             int64
weight           float64
account_a        float64
account_b          int64
total_account      int64
dtype: object

In [23]:
df["country"].unique()

array(['PORTUGAL     ', 'UNITED KINGDOM', 'Sweden', 'BELGIUM', 'GERMANYY',
       'BRAZIL'], dtype=object)

In [29]:
df["country"] = (
    df["country"]
    .str.strip()
    .str.lower()
    .str.replace("germanyy", "germany")
)

In [30]:
df.head()

,name,city,country,height,weight,account_a,account_b,total_account
0,Adi Dako,lisbon,portugal,142,132.0,2390.0,4340,6730
1,John Paul,london,united kingdom,157,165.0,4500.0,34334,38834
2,Cindy Jules,stockholm,sweden,121,117.0,NaN,5504,8949
3,Arthur Kegels,brussels,belgium,149,121.0,4344.0,8999,300
4,Freya Bismark,berlin,germany,134,126.0,7000.0,19000,26000

In [31]:
df["country"].unique()

array(['portugal', 'united kingdom', 'sweden', 'belgium', 'germany',
       'brazil'], dtype=object)

In [32]:
df["city"].unique()

array(['lisbon    ', 'london   ', 'stockholm', 'brussels', '  berlin',
       '     brasilia    '], dtype=object)

In [33]:
df["city"] = df["city"].str.strip()

In [34]:
df["city"].unique()

array(['lisbon', 'london', 'stockholm', 'brussels', 'berlin', 'brasilia'],
      dtype=object)

In [35]:
df["name"].unique()

array(['Adi Dako ', 'John Paul', 'Cindy Jules', '    Arthur Kegels',
       'Freya Bismark', 'Rena Filip'], dtype=object)

In [36]:
df["name"] = df["name"].str.strip()

In [37]:
df["name"].unique()

array(['Adi Dako', 'John Paul', 'Cindy Jules', 'Arthur Kegels',
       'Freya Bismark', 'Rena Filip'], dtype=object)

In [38]:
df["total_account"] = df["account_a"] + df["account_b"]

In [39]:
df.head()

,name,city,country,height,weight,account_a,account_b,total_account
0,Adi Dako,lisbon,portugal,142,132.0,2390.0,4340,6730.0
1,John Paul,london,united kingdom,157,165.0,4500.0,34334,38834.0
2,Cindy Jules,stockholm,sweden,121,117.0,NaN,5504,NaN
3,Arthur Kegels,brussels,belgium,149,121.0,4344.0,8999,13343.0
4,Freya Bismark,berlin,germany,134,126.0,7000.0,19000,26000.0

In [40]:
df.duplicated().sum()

np.int64(0)

In [41]:
df = df.drop_duplicates(keep="first").reset_index(drop=True)

In [42]:
m = df.isna().sum()

In [43]:
m[m>0]

weight           1
account_a        1
total_account    1
dtype: int64

In [45]:
avg_weight = df["weight"].mean()
df["weight"] = df["weight"].fillna(avg_weight)

In [48]:
df["account_a"] = df["account_a"].fillna(0)

In [49]:
df["total_account"] = df["account_a"] + df["account_b"]

In [50]:
df.head()

,name,city,country,height,weight,account_a,account_b,total_account
0,Adi Dako,lisbon,portugal,142,132.0,2390.0,4340,6730.0
1,John Paul,london,united kingdom,157,165.0,4500.0,34334,38834.0
2,Cindy Jules,stockholm,sweden,121,117.0,0.0,5504,5504.0
3,Arthur Kegels,brussels,belgium,149,121.0,4344.0,8999,13343.0
4,Freya Bismark,berlin,germany,134,126.0,7000.0,19000,26000.0